<!DOCTYPE html>
<html>
<head>
    <title>Add Collaborator</title>
</head>
<body>
    <form action="/add-collaborator" method="POST">
        <label for="owner">Owner:</label><br>
        <input type="text" id="owner" name="owner"><br>
        <label for="repo">Repo:</label><br>
        <input type="text" id="repo" name="repo"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <input type="submit" value="Add Collaborator">
    </form>
</body>
</html>